!!! 5
%html
  %head
    %title= BRAND
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "no_app"
    = csrf_meta_tags
  %body
    = render 'shared/header'
    #main.container-fluid
      .row-fluid
        #content.span12
          = yield